body{
    height: 100vh;
    background-color: #ECF2F8;
    display: grid;
    place-items: center;

}
.container{
    width: 1110px;
    height: 572px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "div2 div1 div3"
    "div4 div5  div3"
    
    ;
    gap:30px;
}
.child1{
    grid-area: div2;
    background-color:#733FC8 ;
    width: 540px;
    height: 282px;
    border-radius: 8px;



}
.child2{
    width: 255px;
    height: 282px;
    grid-area: div1;
    background-color: #48556A;
    border-radius: 8px;
}
.child3{

}
.child4{

}
.child5{

}